<div class="container"> 
	<div class="row">
		<div class="col-10 mx-auto">
			<h1 class="text-center mb-5">Personas que completaron la tarea: <%= @task.name %></h1> 
      <p class="text-center m-5"><%= @task.detail %></p>
			<table class="table table-bordered">
			<thead>
			<tr>
        <th class="text-center" style="width: 50px">#</th>
				<th>Nombre:</th>
				<th>Correo:</th>
        <th></th>
			</tr>
			</thead>
			<tbody>

			<% @users.each_with_index do |user, i| %>
				<tr>
          <td class="text-center align-middle">
            <% if @trophy_size > 20 %>
              <i class="fa fa-trophy" aria-hidden="true" style="font-size: <%= @trophy_size %>px; color:<%= @colors[i] %>"></i>
              <% @trophy_size -= 10 %>
            <% else %>
              <%= i + 1 %>
            <% end %>
          </td>
					<td class="align-middle"><%= user.username %></td>
					<td class="align-middle"><%= user.email %></td>
          <td style="width:80px">
            <% if i < 5 %>
              <%= image_tag user.photo, class: 'img-responsive float-right', style: 'max-width: 60px' %>
            <% end %>
          </td>
				</tr>
			<% end %>
			</tbody>
			</table>
		</div>
	</div>